{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": true
  },
  "rules": {
    "semi": ["error", "always"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "double"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": ["variableLike", "method"],
        "format": ["strictCamelCase"]
      },
      {
        "selector": ["variable"],
        "format": ["UPPER_CASE"],
        "modifiers": ["const","global"],
        "types": ["array", "boolean", "number", "string"]
      },
      {
        "selector": ["class","interface","enum", "typeParameter", "typeAlias"],
        "format": ["StrictPascalCase"]
      },
      {
        "selector": ["enumMember"],
        "format": ["UPPER_CASE"]
      }
    ]
  }
}
