{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.eslint.json"
  },
  "ignorePatterns": [
    "*.js",
    "*.d.ts",
    "node_modules/",
    "*.generated.ts",
    "values",
    "gotestwaf",
    "coverage"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "double"
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": [
          "method"
        ],
        "format": [
          "strictCamelCase"
        ]
      },
      {
        "selector": [
          "class",
          "interface",
          "typeParameter",
          "typeAlias"
        ],
        "format": [
          "StrictPascalCase"
        ]
      }
    ]
  }
}

